@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}
@layer utilities {
  .clip-style {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);}
}
